<!DOCTYPE html>
<html>
  <head>
    <title>New user registration</title>
  </head>
  <body>
    <h1>New user Registration</h1>
    <form action="/register" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <!-- <label for="email">Email:</label> -->
      <!-- <input type="email" id="email" name="email"><br><br> -->
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <!-- <label for="confirm_password">Confirm Password:</label> -->
      <!-- <input type="password" id="confirm_password" name="confirm_password"><br><br> -->
      <input type="submit" value="Submit">
    </form>
  </body>
</html>